# Python Virtual Environments
.venv/
venv/
ENV/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific (VS Code / STM32Cube)
.vscode/
.project
.cproject
.settings/

# Local Environment/Hardware Configs
.env
*.log
